<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %highlight{[%level]} %yellow{%C{3.}} - %msg%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="${app:log.dir}/${app:log.file}" filePattern="${app:log.dir}/archive/${app:log.file}-%d{yyyyMMdd}">
            <PatternLayout pattern="%d{ISO8601} [%level] ${app:host}:${app:port}:${app:name} [%X{trace-id}] %C{3.} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${app:log.dir}/archive">
                    <IfLastModified age="P5D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="${app:log.dir}/${app:log.error.file}" filePattern="${app:log.dir}/archive/${app:log.error.file}-%d{yyyyMMdd}">
            <PatternLayout pattern="%d{ISO8601} [%level] ${app:host}:${app:port}:${app:name} [%X{trace-id}] %C{3.} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${app:log.dir}/archive">
                    <IfLastModified age="P5D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Kafka name="Kafka" topic="log">
            <PatternLayout pattern="%d{ISO8601} [%level] ${app:host}:${app:port}:${app:name} [%X{trace-id}] %C{3.} - %msg%n" />
            <Property name="bootstrap.servers">${app:kafka.host}:${app:kafka.port}</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Logger name="KafkaLogger" level="${app:log.level}" additivity="false">
            <AppenderRef ref="Kafka" />
        </Logger>
        
        <Root level="${app:log.level}">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="RollingFileError" level="WARN" />
        </Root>
    </Loggers>
</Configuration>