<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %highlight{[%level]} %yellow{%C{3.}} - %msg%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="${sys:LOG_DIR}/${sys:LOG_FILE}" filePattern="${sys:LOG_DIR}/archive/${sys:LOG_FILE}-%d{yyyyMMdd}">
            <PatternLayout pattern="%d{ISO8601} [%level] ${app:host}:${app:port}:${app:name} [%X{trace-id}] %C{3.} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:LOG_DIR}/archive">
                    <IfLastModified age="P5D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="${sys:LOG_DIR}/${sys:LOG_ERROR_FILE}" filePattern="${sys:LOG_DIR}/archive/${sys:LOG_ERROR_FILE}-%d{yyyyMMdd}">
            <PatternLayout pattern="%d{ISO8601} [%level] ${app:host}:${app:port}:${app:name} [%X{trace-id}] %C{3.} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:LOG_DIR}/archive">
                    <IfLastModified age="P5D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <Kafka name="Kafka" topic="${sys:LOG_TOPIC}">
            <PatternLayout pattern="%d{ISO8601} [%level] ${app:host}:${app:port}:${app:name} [%X{trace-id}] %C{3.} - %msg%n" />
            <Property name="bootstrap.servers">${sys:KAFKA_HOST}:${sys:KAFKA_PORT}</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Root level="${app:LOG_LEVEL}">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
            <AppenderRef ref="RollingFileError" level="WARN" />
            <AppenderRef ref="Kafka" level="${sys:KAFKA_LOG_LEVEL}"/>
        </Root>
    </Loggers>
</Configuration>