<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="log-gateway">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg" />
        </Console>
        <RollingFile name="File" fileName="${sys:LOG_DIR}/${sys:KAFKA_LOG_FILE}" filePattern="${sys:LOG_DIR}/archive/${sys:KAFKA_LOG_FILE}-%d{yyyyMMdd}">
            <PatternLayout pattern="%msg" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:LOG_DIR}/archive">
                    <IfLastModified age="P5D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="${app:LOG_LEVEL}">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>