<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="log-gateway">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg" />
        </Console>
        <File name="File" fileName="${sys:log.dir}/${sys:kafka.log.file}">
            <PatternLayout pattern="%msg" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>