<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="log-gateway">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg" />
        </Console>
        <RollingFile name="File" fileName="${env:LOG_DIR}/${env:KAFKA_LOG_FILE:-oauth2_server.log}" filePattern="${env:LOG_DIR}/archive/${env:KAFKA_LOG_FILE:-oauth2_server.log}-%d{yyyyMMdd}">
            <PatternLayout pattern="%msg" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${env:LOG_DIR}/archive">
                    <IfLastModified age="P5D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="${env:LOG_LEVEL:-INFO}">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>